/**
 * @author    BOX http://box.agency
 * @contact   admin@box.agency
 */

/* ==========================================================================
   Base Styles
   ========================================================================== */

@import 'vendor/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'base';

/**
 * Helper Variables & Functions
 */

$yellow: #fcc31a;
$blue: #323e49;

$font: Amaranth, helvetica, arial, sans-serif;

@font-face {
  font-family: Amaranth;
  src:
  url('../fonts/Amaranth-Regular.woff2') format('woff2'),
  url('../fonts/Amaranth-Regular.woff') format('woff');
}

@font-face {
  font-family: Amaranth;
  src:
  url('../fonts/Amaranth-Bold.woff2') format('woff2'),
  url('../fonts/Amaranth-Bold.woff') format('woff');
  font-weight: bold;
}


body {
  color: $blue;
  font: 1.4em/1.4 $font;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  background: #00C7F8 url(../img/bg.png) top center no-repeat;
  position: relative;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

a {
  color: $yellow;
  &:hover, &:focus {
    color: $yellow;
    text-decoration: none;
  }
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}

/* ==========================================================================
   Layout Styles
   ========================================================================== */

.main {
  position: relative;
}
.container {
  position: relative;
  width: 1170px !important;
}

.footer {
  width: 100%;
  color: #fff;
  .copyright {
    color: #fff;
    padding: 25px 0;
  }
  .social-links {
    float: right;
    padding: 20px 0 25px;
    a {
      text-align: center;
      margin: 0 3px;
      width: 33px; height: 33px;
      border-radius: 50%;
      display: inline-block;
      color: #fff;
      line-height: 28px;
      border: 2px solid rgba(255,255,255,0.64)
    }
  }
  .home-btn {
    position: absolute; top: -120px; left: 40px;
    width: 99px; height: 141px;
    background: url('../img/home-icon.png') no-repeat;
  }
}

h2 {
  font: bold 26px $font;
  text-transform: uppercase;
  color: $yellow;
  &.dark {
    color: $blue;
  }
}

/* ==========================================================================
   Module Styles
   ========================================================================== */
 #leaves {
   position: fixed;
   height: 100%;
   width: 100%;
   .leave1 {
     position: absolute; top: 0; left: 0;
     z-index: -1;
     background: url('../img/leaves.png') no-repeat;
     width: 270px; height: 300px;
   }
   .leave2 {
     position: absolute; left: 0; right: 0;
     z-index: -1;
     background: url('../img/leaves.png') -270px 0 no-repeat;
     width: 336px; height: 757px;
     transition: all 1s;
     &.small { left: -85px; }
   }
   .leave3 {
     position: fixed; top: 0; right: 0;
     z-index: -1;
     background: url('../img/leaves.png') -606px 0 no-repeat;
     width: 269px; height: 179px;
   }
   .leave4 {
     position: absolute; bottom: 0; right: 0;
     z-index: -1;
     background: url('../img/leaves.png') -875px 0 no-repeat;
     width: 242px; height: 272px;
   }
 }

.logo-wrapper {
  position: fixed;
  width: 100%;
  z-index: 100;
}
#logo {
  width: 211px; height: 92px;
  background: url('../img/logo.png')no-repeat;
  position: absolute; left: 0; right: 0;
  z-index: 0;
}

.slogan {
  width: 239px; height: 169px;
  background: url('../img/slogan.png')no-repeat;
  margin: 30px auto 0;
}

.globe-container {
  position: relative;
  margin: 20px auto 0;
  width: 804px; height: 659px;
}
#globe {
  width: 608px; height: 539px;
  background: url('../img/globe.png')no-repeat;
  position: absolute;
  top: 65px;
  left: 131px;
  z-index: 10;
}

#clouds {
  width: 804px; height: 609px;
  background: url('../img/clouds.png')no-repeat;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: -1;
  animation: rotate 120s infinite linear;
}

#play-btn {
  width: 286px; height: 116px;
  background: url('../img/play-btn.png')no-repeat;
  position: absolute;
  top: 416px;
  left: 284px;
  z-index: 11;
  @include text-hide();
  &:hover {
    animation-name: tada;
  }
}

#friends-btn {
  width: 163px; height: 181px;
  background: url('../img/friends-btn.png')no-repeat;
  position: absolute;
  top: 196px;
  left: 591px;
  z-index: 11;
  @include text-hide();
  &:hover {
    animation-name: jello;
  }
}

#koukou-btn {
  width: 210px; height: 162px;
  background: url('../img/koukou-btn.png') no-repeat;
  position: absolute;
  top: 3px;
  left: 255px;
  z-index: 11;
  @include text-hide();
  &:hover {
    animation-name: jello;
  }
}

#products-btn {
  width: 173px; height: 158px;
  background: url('../img/products-btn.png') no-repeat;
  position: absolute;
  top: 340px;
  left: 72px;
  z-index: 11;
  @include text-hide();
  &:hover {
    animation-name: jello;
  }
}

#planning-btn {
  width: 246px; height: 240px;
  background: url('../img/planning-btn.png') no-repeat;
  position: absolute;
  top: 458px;
  left: 303px;
  z-index: 9;
  @include text-hide();
  transition: all 0.2s;
  &:hover {
    transform: translateY(10px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}


#landing-section {
  overflow: hidden;
}

#planning-section {
  position: relative;
  &::before {
    content: '';
    position: absolute; top: 275px; left: 0;
    z-index: -1;
    background: url('../img/plank-left.png') no-repeat;
    width: 569px; height: 390px;
  }
  &::after {
    content: '';
    position: absolute; top: 275px; right: 0;
    z-index: -1;
    background: url('../img/plank-right.png') no-repeat;
    width: 566px; height: 390px;
  }
  .planning-date {
    width: 294px; height: 209px;
    background: url('../img/planning-date.png') no-repeat;
    margin: 0 auto 20px;
    padding: 163px 50px 0 56px;
    text-align: center;
    font-size: 20px; font-weight: bold;
    line-height: 24px;
    color: #fff;
    .day {
      font-size: 16px; line-height: 16px;
      font-weight: normal;
    }
  }
  .planning-map {
    width: 852px; height: 562px;
    position: relative;
    margin: 0 auto;
    clear: both;
  }
  .slogan {
    position: absolute; right: 20px; top: 33px;
    margin: 0;
  }
  .map {
    width: 100%; height: 100%;
    background: url('../img/planning-map.png') no-repeat;
  }
  .pin-tmpl {
    display: none;
  }
  .pin {
    width: 182px; height: 226px;
    background: url('../img/pin.png') no-repeat;
    position: absolute;
    text-align: center;
    padding: 40px 25px 50px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    &.pin1 { top: 194px; left: 54px; }
    &.pin2 { top: 106px; right: 70px; }
    &.pin3 { top: 86px; left: 223px; }
    .location {
      font-size: 25px;
      font-weight: bold;
      line-height: 32px;
    }
    .time {
      color: $yellow;
      font-size: 18px;
      line-height: 22px;
    }

  }
  .prev-btn, .next-btn {
    background: url('../img/controls-btn.png') no-repeat;
    position: absolute; top: 200px;
    font-size: 14px; color: #fff;
    padding: 0;
    padding-top: 65px;
    text-transform: uppercase;
    transition: 0.1s all;
    &:disabled {
      opacity: 0.3;
    }
    &:active {
      box-shadow: none;
    }
  }
  .prev-btn {
    left: -140px;
    background-position: 10px -200px;
  }
  .next-btn {
    background-position: right 10px top;
    right: -140px;
  }
}

#products-section {
  .slogan {
    position: absolute; right: 20px; top: 33px;
    margin: 0;
  }

  .products-plank {
    width: 252px; height: 149px;
    position: absolute; right: 315px; top: 0;
    background: url('../img/products-plank.png') no-repeat;
    margin: 0 auto 20px;
  }
  .tropico-products {
    width: 681px;
    height: 499px;
    margin: 200px auto 0;
    display: block;
  }
}

#friends-section {
  .friends-board {
    width: 1005px;
    height: 708px;
    background: url('../img/friends-modal.png') no-repeat;
    margin: 0 auto;
    position: relative;
    left: 67px;
    z-index: 100;
    padding: 160px 146px 46px 58px;
    text-align: center;
  }
  .friends-wrap {
    position: relative; height: 100%;
    padding-top: 45px;
    .bird {
      transition: all 0.4s ease;
      &:hover{
        transform: scale(1.06) !important;
      }
    }
  }
  .slogan {
    width: 172px; height: 122px;
    background-size: 100%;
    position: absolute; left: 0; right: 0; top: 8px;
    margin: 0 auto;
  }

  .friends-modal {
    width: 705px; height: 442px; background-color: rgba(255,255,255,0.95);
    position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;
    padding: 20px;
    border-radius: 5px;
        text-align: left;
    .content {
      display: none;
    }
    .return-btn {
      width: 105px;
      height: 30px;
      background: url('../img/return-btn.png') no-repeat;
      position: absolute; left: 15px; bottom: 17px;
    }
    .bird {
      width: 76px; height: 76px;
      display: block;
      margin: 10px 30px 20px 0;
      &.bird-toucan::after {
        left: 110px;
      }
      &::after {
        background-position: 0 100%;
        top: 10px;
        left: 90px;
      }
    }
    .bird-audio {
      width: 100%;
    }
    .sep {
      border-bottom: 1px dashed #000;
    }
    .description {
      text-align: justify;
      height: 250px;
      overflow: auto;
      border-bottom: 2px solid rgba(0,0,0,0.1);
      padding-bottom: 10px;
    }
  }
}

#game-section {
  #koukou{
    background: transparent url(../img/koukou.png) 0 0 no-repeat;
    position: absolute;
    top: 65px;
    right: 192px;
    width: 142px;
    height: 104px;
    z-index: 105;
    cursor: pointer;
  }
  #koukou-text {
    width: 145px; height: 113px;
    background: url('../img/koukou-text.png') no-repeat;
    position: absolute; top: 5px; right: 180px;
  }
  .game-board {
    float: left;
    width: 981px;
    height: 728px;
    margin: 5px 0 120px;
    position: relative;
    z-index: 100;
    text-align: center;
    padding: 145px 123px 53px 41px;
    &::after {
      content: '';
      background: url('../img/game-borad.png') no-repeat;
      width: 981px;
      height: 728px;
      position: absolute; top: 0; left: 0;
      z-index: 103;
      pointer-events: none;
      // display: none;
    }
  }
  .game-wrap {
    position: relative; height: 100%; width: 100%;
    overflow: hidden;
  }
  .map{
    float: left;
    position: relative;
    .holder-wrapper{
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1000;
      .holder{
        width: 56px;
        height: 55px;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        background-image: url('../img/birds/birds-names.png');
        box-shadow: 0px 0px 0px 3px rgba(255,255,255,0.5);
        cursor: pointer;
        transition: all 0.3s ease;
        &:nth-child(1){background-position: 0 -55px;top: 181px; left: 419px;}
        &:nth-child(2){background-position: 0 0;top: 197px; left: 560px;}
        &:nth-child(3){background-position: 0 -110px;top: 281px; left: 416px;}
        &:nth-child(4){background-position: 0 -165px;top: 328px; left: 190px;}
        &:nth-child(5){background-position: 0 -220px;top: 385px;left: 636px;}
        &:nth-child(6){background-position: 0 -275px;top: 457px;left: 300px;}
        &.active{
          box-shadow: 0px 0px 0px 3px rgba(47, 119, 22, 0.7);
        }
        &:hover{
          box-shadow: 0px 1px 14px 2px rgba(0,0,0, 0.7);
        }
      }
    }
    .overlay{
      display: none;
    }
    &.disabled{
      .holder-wrapper{z-index: 0;}
      .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        height: 100%;
        z-index: 102;
        display: block;
        transition: all 0.3s ease;
      }
    }
  }
  .map-game {
    position: absolute; top: 0; left: 0;
  }
  .slogan {
    width: 172px; height: 122px;
    background-size: 100%;
    position: absolute; left: 240px;
    top: 5px;
    margin: 0 auto;
  }
  .game-birds {
    position: relative;
    left: 21px;
    top: -20px;
    margin-right: 73px;
    &.disabled{
      .friend.not-placed{
        opacity: 0.3;
        cursor: default;
      }
      .active{
        opacity: 1 !important;
        border-radius: 50%;
        box-shadow: 0 0px 15px rgb(111, 158, 17);
      }
    }
  }
  .bird {
    width: 96px; height: 96px;
    position: absolute;
    right: 0;
    z-index: 101;
    margin: 0;
    &::after {
      width: 103px; height: 103px;
      top: -1px; left: 0;
    }
    &.placed{
      cursor: default;
    }
  }
  .bird-gris {
    top: 570px;
    right: 94px;
    &::after {
      background-image: url('../img/birds/gris-name2.png');
    }
  }
  .bird-pingouin {
    top: 490px;
    &::after {
      background-image: url('../img/birds/pingouin-name2.png');
    }
  }
  .bird-perruche {
    top: 320px;
    &::after {
      background-image: url('../img/birds/perruche-name2.png');
    }
  }
  .bird-flamant {
    top: 150px;
    &::after {
      background-image: url('../img/birds/flamant-name2.png');
    }
  }
  .bird-cacatoes {
    top: 400px;
    right: 90px;
    &::after {
      background-image: url('../img/birds/cacatoes-name2.png');
    }
  }
  .bird-toucan {
    top: 240px;
    right: 100px;
    &::after {
      background-image: url('../img/birds/toucan-name2.png');
    }
  }
}

.bird {
  width: 135px; height: 135px;
  display: inline-block;
  margin: 0 50px 90px;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute; margin: 0 auto; left: 0; right: 0; top: 150px;
  }
  &::before {
    content: '';
    position: absolute; bottom: 0; right: 0;
    background-size: contain;
  }
  &.bird-gris {
    &::before {
      width: 100%; height: 104%;
      background-image: url("../img/birds/gris.png");
    }
    &::after {
      width: 114px; height: 46px;
      background-image: url('../img/birds/gris-name.png');
    }
  }
  &.bird-pingouin {
    &::before {
      width: 100%; height: 107.4%;
      background-image: url('../img/birds/pingouin.png');
    }
    &::after {
      width: 80px; height: 49px;
      background-image: url('../img/birds/pingouin-name.png');
    }
  }
  &.bird-perruche {
    &::before {
      width: 100%; height: 102%;
      background-image: url('../img/birds/perruche.png');
    }
    &::after {
      width: 86px; height: 45px;
      background-image: url('../img/birds/perruche-name.png');
    }
  }
  &.bird-flamant {
    &::before {
      width: 109%; height: 100%;
      background-image: url('../img/birds/flamant.png');
    }
    &::after {
      width: 105px; height: 47px;
      background-image: url('../img/birds/flamant-name.png');
      left: 10px;
    }
  }
  &.bird-cacatoes {
    &::before {
      width: 109%; height: 109%;
      background-image: url('../img/birds/cacatoes.png');
    }
    &::after {
      width: 120px; height: 40px;
      background-image: url('../img/birds/cacatoes-name.png');
      left: 10px;
    }
  }
  &.bird-toucan {
    &::before {
      width: 120%; height: 100%; left: 0;
      background-image: url('../img/birds/toucan.png');
    }
    &::after {
      width: 90px; height: 47px;
      background-image: url('../img/birds/toucan-name.png');
      left: -25px;
    }
  }
}


#video-modal {
  .modal-dialog {
    width: 921px;
    margin-top: 0 !important;
  }
  .modal-content {
    border: none;
    box-shadow: none;
    background: url('../img/video-modal.png') no-repeat;
    height: 723px;
  }
  .close-btn {
    width: 131px; height: 115px;
    position: absolute; left: 24px;
    top: 117px;
    background: url('../img/close-btn-modal.png') no-repeat;
    z-index: 10;
  }
  .video-player {
    width: 778px;
    margin: 152px auto 0;
    padding-left: 5px;
  }
  .embed-responsive-16by9 {
      padding-bottom: 61.05%;
  }
}


::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.noselect *{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/* ==========================================================================
   Module Styles
   ========================================================================== */

   .sweet-alert{
     background: url(../img/plank-left.png) repeat center;
     color: #FFF;
     border-radius: 15px;
     box-shadow: 0 1px 10px rgba(0,0,0,0.4);
     border: 3px solid #6F5938;
     h2{
       color: #C7EC10;
     }
     p{
       color: #FFF;
       font-weight: bold;
     }
     button{
       background-color: rgb(62, 49, 30) !important;
       border-radius: 15px;
     }
   }

.page{
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding-top: 150px
}




.koukou-friends-wrapper{
  background-color: #CCC;
  float: right;
  &.disabled{
    .friend{
      opacity: 0.7;
    }
    .active{
      opacity: 1 !important;
    }
  }
  .friend{
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    right: 23px;
    z-index: 4;
    &:nth-child(1){top: 10%;}
    &:nth-child(2){top: 30%;}
    &:nth-child(3){top: 50%;}
    &.active{
      border: 5px solid green;
    }&:hover{
    }
  }
}

#play-modal{
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000000000;
  .content{
    width: 1170px;
    margin: 0 auto;
    text-align: right;
    position: relative;
    .close-btn {
      width: 131px; height: 115px;
      float: right;
      transform: scale(0.6);
      position: absolute;
      right: 30px;
      cursor: pointer;
      top: 10px;
      background: url('../img/close-btn-modal.png') no-repeat;
      z-index: 10;
    }
    img{
      margin-right: 100px;
      margin-top: 70px;
    }
  }
}

.sound-btn{
  background: transparent;
  border-radius: 30px;
  border: 2px solid rgba(255,255,255,0.8);
  padding: 2px 10px;
  color: #FFF;
  text-align: left;
  cursor: pointer;
  margin-top: 6px;
  -webkit-transition: all 0.3s; /* Safari */
  transition: all 0.3s;
  float: right;
  display: none;
  &:hover{
    opacity:1;
  }
  & span{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-top: 4px;
    margin-left: 5px;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    &.active{
      background: #FFEB00;
    }
  }
}
.home .sound-btn{
  display: block
}
